<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="fts" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=D:\me\MeMes\MeMes\MeMes.Module\BusinessObjects\fts.mdb;user id=;password=;" />
    </connectionStrings>
</configuration>